<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Ingresa tu correo" required />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        El correo es obligatorio
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Ingresa un correo válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Ingresa tu contraseña" required />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button color="primary" type="submit">Login</button>
      <button mat-flat-button color="accent" type="button" routerLink="/auth/register">
        Register
      </button>
    </div>
  </form>
</div>
